/*
@author 吴志强
@date 2022/1/17
 */

.action {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    .insert {
        float: right;
        position: absolute;
        right: 0;
    }
}
